/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#header-wrapper {
  background-color: $header-background;
  color: $header-text;

  a:link,
  a:visited {
    color: $header-text;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#highlighted-wrapper,
#highlighted {
  background-color: $highlighted-background;
}

#main-wrapper {
  background-color: $main-background;
  color: $main-text;

  a:link,
  a:visited {
    color: $main-text;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#footer-wrapper {
  background-color: $footer-background;
  color: $footer-text;

  a:link,
  a:visited {
    color: $footer-text;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#logo { /* Wrapping link for logo */
}

#name-and-slogan { /* Wrapper for website name and slogan */
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 1em;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  line-height: 1.5em;
  font-size: 2em;
}

.region-header {
  margin-top: 10px;
}

/*
 * Main (container for everything else)
 */

#main {
  padding: 7px 0;
}

/*
 * Navigation
 */
#navigation {
  position: relative;
  bottom: -1.8em;
}
#main-menu {
  li {
    border-radius: 0.6em;
    padding: 0em 0.5em;
  }

  li:hover {
    background: $main-menu-hover;
  }

  li.active-trail {
    background: $main-menu-active;
  }

  a:hover {
    text-decoration: none;
  }
}
#header-wrapper {
  border-bottom: solid 2em $main-ruler;
}

#menu-tab {
  text-align: center;

  li {
    list-style: none outside none;
    display: inline;
    border-radius: 0.8em;
    padding: 0.2em 0.8em;
    background: $menu-tab-background;
  }

  li:hover {
    background: $menu-tab-hover;
  }

  li.active-trail {
    background: $menu-tab-active;
  }

  a:hover {
      text-decoration: none;
    }
}

/*
 * Content
 */

#content {

  .views-row, .flexslider {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
  }

  .views-field {
    background-color: $main-block-background;
    border-left: solid $thin-line 1px;
    border-right: solid $thin-line 1px;

    h3, p {
      margin: 0;
    }
    h3 {
      padding: 0.4em 30px;
    }
    p {
      padding: 0.2em 30px;
    }
  }

  .views-field-field-image {
    img {
      display: block;
    }
  }

  .views-field-title {
    overflow-y: hidden;
    height: 2em;
  }

  .views-field-body {
    overflow-y: hidden;
    height: 112px;
  }

  .views-field:first-child, .views-field:first-child img {
    border-top: solid $thin-line 1px;
    border-top-left-radius: $thin-line-radius;
    border-top-right-radius: $thin-line-radius;
  }

  .views-field:last-child {
    border-bottom: solid $thin-line 1px;
    border-bottom-left-radius: $thin-line-radius;
    border-bottom-right-radius: $thin-line-radius;
  }

  .flex-direction-nav a {
    top: 35%;
  }

  .flex-control-nav {
    bottom: 160px;
  }

}

body.page-node {

  .panel-col-first .inside {
    background-color: $main-block-background;
    padding: 1.7em;
    border: solid $thin-line 1px;
    border-radius: $thin-line-radius;
  }
}

.region-highlighted {
  background: #ffffff;

  .block:last-child {
    margin-bottom: 0px;
  }

}

.flexslider {
  margin: 0;
  border-radius: 0;
  border: 0;
  background: none;
  box-shadow: none;
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title { /* The title of the page */
  margin: 0.23em 0;
  text-align: center;
}

h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.pane-title { /* Pane title */
  margin: 0.07em 0;
}

h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

#footer-left-right {
  padding: 7px 0;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
