/**
 * @file
 * Views Styling
 */

@import "base";

$zen-column-count:  12;
$zen-gutter-width:  20px;

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.view.grid-4-col {
  .views-row-1 {
    @include zen-grid-item(3, 1);
  }
  .views-row-2 {
    @include zen-grid-item(3, 4);
  }
  .views-row-3 {
    @include zen-grid-item(3, 7);
  }
  .views-row-4 {
    @include zen-grid-item(3, 10);
  }
}
