/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12;
$zen-gutter-width:  20px;

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: true;
$zen-auto-include-flow-item-base: true;

/*
 * Center the page.
 */

#header,
#navigation,
#highlighted,
#main,
#footer,
#footer-left-right { 
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin: 0 auto;
  max-width: 1024px;
}

#header-wrapper,
#navigation--wrapper,
#highlighted-wrapper,
#main-wrapper,
#footer-wrapper {
  @include zen-clear();
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#header,
#navigation,
#highlighted,
#main,
#footer,
#footer-left-right {
  // XXX not sure how to use
  //@include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#header,
#navigation,
#highlighted,
#main,
#footer,
#footer-left-right {
  @include zen-grid-container();
}

@media all and (max-width: 479px) {
  $zen-column-count: 1;
  @include with-grid-background;
}

@media all and (min-width: 480px) {
  $zen-column-count: 3;
  @include with-grid-background;
}

@media all and (min-width: 480px) and (max-width: 959px) {
  $zen-column-count: 3;
  @include with-grid-background;
}

@media all and (min-width: 960px) {
  $zen-column-count: 12;
  @include with-grid-background;

  #logo {
    @include zen-grid-item(1, 1);
    img {
      vertical-align: bottom;
      width: 86px;
      max-width: 200%;
      margin-top: 10px;
      position: relative;
      left: -20px;
    }
  }

  #name-and-slogan {
    margin-top: 32px;
    h1 {
      @include zen-grid-item(5, 2);
    }
    h2 {
      @include zen-grid-item(4, 6);
      margin-top: 14px;
    }
  }

  .region-header {
    @include zen-grid-item(3, 1, right);
  }

  .region-highlighted {
    @include zen-grid-item(10, 2);
    div.slideshow-text {
      display: none;
    }
  }

  #footer-left-right .region-footer-left {
    @include zen-clear(left);
    @include zen-grid-item(6, 1);
    @include zen-nested-container;

    .block-block, .block-views {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }

    .views-row {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12)
    }
    .views-row:nth-child(3n) {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12, false, false)
    }
  }

  #footer-left-right .region-footer-right {
    @include zen-clear(right);
    @include zen-grid-item(6, 1, right);
    @include zen-nested-container;

    .block-block, .block-views {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }

    .panel-panel {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }

    .panel-pane {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12)
    }

    .panel-pane:nth-child(6n+5) {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12, false, false)
    }
  }

  #highlighted {
    .flex-control-nav {
      bottom: 5px;
    }
  }

  body.page-node {

    #content {
      @include zen-nested-container;

      .panel-col-first {
        @include zen-grid-item(9, 1);
      }

      .panel-col-last {
        @include zen-grid-item(3, 10);

        .views-row {
          @include zen-grid-flow-item(12, 12, false, false);
        }
      }
    }
  }

  #content > .view.grid-3-col,  /* view pages */
  body.grid-3-col #content .view { /* panel pages */
    .views-row {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12);
    }

    .views-row:nth-child(3n) {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12, false, false);
    }
  }
  body.grid-3-col #content {
    .view-id-earthday_join.view-display-id-slideshow_pane {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12);
    }
    .view-id-earthday_shop.view-display-id-slideshow_pane {
      @include zen-float(left);
      @include zen-grid-flow-item(4, 12, false, false);
    }
  }
}
