/*
 * Sample SCSS for adding Superfish styles to themes.
 *
 * Instructions:
 * 
 * 1. Change the #block-superfish-1 (below) to the ID of your Superfish menu.
 *
 * 2. Add the SCSS to your theme, either as a separate SCSS file or as a part of the main SCSS file.
 *
 * 3. Note that by removing the .sf-style-none, the style will be applied to the menu regardless of
 *    the Style selected in the block configuration.
 *
 */
/*
 * Colors
 */
/* line 20, ../sass/menu-superfish.scss */
.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0 !important;
}

/* line 28, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none {
  float: left;
  margin: 0;
  padding: 0;
  /* compact layout */
}
/* line 32, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none.sf-navbar {
  width: 100%;
  background: #ffb11b;
}
/* line 36, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none ul {
  padding-left: 0;
}
/* line 39, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper {
  background: #a67109;
}
/* line 41, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper li {
  background: transparent;
}
/* line 47, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li.active-trail {
  background: #bf943f;
}
/* line 51, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none a {
  color: #fafafa;
  /*padding: 0.75em 1em;*/
}
/* line 54, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none a.sf-with-ul {
  /*padding-right: 2.25em;*/
}
/* line 57, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none a:focus {
  background: #a67109;
  outline: 0;
}
/* line 61, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none a:hover {
  background: #a67109;
  outline: 0;
}
/* line 65, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none a:active {
  background: #a67109;
  outline: 0;
}
/* line 71, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none span.nolink {
  color: #fafafa;
  padding: 0.75em 1em;
}
/* line 74, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
/* line 77, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none span.nolink:hover {
  background: #a67109;
  outline: 0;
}
/* line 82, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none span.sf-description {
  color: #fafafa;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
/* line 93, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none.rtl span.sf-description {
  margin: 5px 5px 0 0;
}
/* line 96, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
/* line 101, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
/* line 106, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none ul {
  background: #ffb11b;
}
/* line 109, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li {
  background: #ffb11b;
  border-radius: 2em;
  height: 1.2em;
}
/* line 113, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li li {
  background: #ffb11b;
}
/* line 115, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li li li {
  background: #ffb11b;
}
/* line 119, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li:hover {
  background: #a67109;
  outline: 0;
}
/* line 122, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li:hover > ul {
  top: 1.2em;
}
/* line 126, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li.sfHover {
  background: #a67109;
  outline: 0;
}
/* line 129, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none li.sfHover > ul {
  top: 1.2em;
}
/* line 134, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-style-none .sf-sub-indicator {
  background-image: url("../images/dropdown-arrows.png");
}
/* line 139, ../sass/menu-superfish.scss */
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a {
  background: #ffb11b;
  color: #fafafa;
  padding: 1em;
}
/* line 143, ../sass/menu-superfish.scss */
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a.sf-expanded {
  background-color: #a67109;
  font-weight: bold;
}
/* line 153, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li a {
  padding-left: auto;
  padding-right: 2em;
}
/* line 158, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li a {
  padding-left: auto;
  padding-right: 3em;
}
/* line 163, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li a {
  padding-left: auto;
  padding-right: 4em;
}
/* line 168, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li a {
  padding-left: auto;
  padding-right: 5em;
}
/* line 172, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
/* line 177, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
/* line 182, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
/* line 187, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
/* line 196, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
/* line 204, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded {
  background-color: #a67109;
}
/* line 207, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > a {
  font-weight: bold;
}
/* line 210, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
/* line 216, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li a {
  padding-left: 2em;
}
/* line 220, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li a {
  padding-left: 3em;
}
/* line 224, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li a {
  padding-left: 4em;
}
/* line 228, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li a {
  padding-left: 5em;
}
/* line 231, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}
/* line 235, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
/* line 239, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
/* line 243, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li span.nolink {
  padding-left: 2em;
}
/* line 247, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
/* line 257, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol {
  margin: 0;
  padding: 0;
}
/* line 260, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
/* line 263, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
/* line 269, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}
/* line 273, ../sass/menu-superfish.scss */
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
